/* Global Styles */
*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Back to Home */
.back-to-home {
    cursor: pointer;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 65%);
}

.leaflet-touch .back-to-home {
    width: 34px;
    height: 34px;
}

.hidden {
    display: none;
}

/* Marker */
.circle-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(37,108,37);
}

/* Custom marker cluster styles */
.leaflet-marker-icon.leaflet-marker-cluster {
    /* Your styles for the cluster icon */
    border-radius: 50%;
    background-color: #ff0000; /* Custom background color */
}

.leaflet-marker-icon.leaflet-marker-cluster div {
    /* Your styles for the cluster inner div */
    color: #ffffff; /* Custom text color */
}

svg:not(:root) {
    overflow: hidden;
}

/* Sidebar */
.leaflet-left {
    transform: translateX(55px);
}

.active-sidebar .leaflet-left {
    transform: translateX(490px);
    transition: transform 350ms;
}

.sidebar {
    display: flex;
    gap: 1rem;
    position: absolute;
    width: 46px;
    max-width: 480px;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.5);;
    box-shadow: none;
    overflow: hidden;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    height: 100%;
}

.active-sidebar .sidebar {
    max-width: 760px;
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar {
        top: 10px;
        left: 10px;
        height: calc(100% - 20px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        transition: width 500ms;
    }

    .leaflet-left {
        transform: translateX(55px);
    }

    .active-sidebar .sidebar {
        max-width: 480px;
        width: 100%;
        transition: width 1s;
    }
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 8px;
    border: none;
    padding: 5px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background: none;
    opacity: 0;
    pointer-events: none;
}

.active-sidebar .close-button {
    pointer-events: all;
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.sidebar .close-button svg {
    fill: #fff;
}

.sidebar::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 44px;
    width: 100%;
    height: 40px;
    background: rgb(37,108,37);
}

.active-sidebar .sidebar::before {
    left: 42px;
}

.sidebar svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #3f3f3f;
    pointer-events: none;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
}

.sidebar-menu li {
    padding: 10px 11px;
    cursor: pointer;
}

.sidebar-menu li:hover svg {
    animation: rotation 500ms ease-in;
    transform-origin: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active-item {
    background: rgb(37,108,37);
}

.active-item svg {
    fill: #fff;
}

.item-content {
    display: none;
    margin-top: 8px;
    padding-right: 10px;
    height: 100%;
}

.item-content .content {
    overflow: auto;
    margin-top: 15px;
    height: calc(100% - 50px);
    padding-right: 10px;
}

.sidebar-content {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 15px;
    transition: opacity 500ms;
    overflow: hidden;
    color: black;
}

.active-sidebar .sidebar-content {
    opacity: 1;
    pointer-events: visible;
    transition: opacity 200ms;
}

.sidebar-content h2 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    white-space: nowrap;
    width: calc(100% - 10px);
    height: 25px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.active-content {
    display: block;
}

.item-content form {
    margin-top: 20px;
}

.item-content input[type="text"],
.item-content textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.item-content input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(37,108,37);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.item-content input[type="submit"]:hover {
    background-color: rgb(31, 85, 31);
}

.home-filter-button {
    display: inline-block;
    padding: 7px 14px;
    background-color: rgb(37,108,37);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.home-filter-button:hover {
    background-color: rgb(31, 85, 31);
}

.home-filter-button:disabled {
    background-color: rgb(37,108,37);
    cursor: not-allowed;
}

.home-filter-button-remove {
    display: inline-block;
    padding: 7px 14px;
    background-color: rgb(198, 18, 30);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.home-filter-button-remove:hover {
    background-color: rgb(232, 0, 60);
}